---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<body>
        <a href="/">Home</a>
        <a href="/about/">Aboot</a>
        <a href="/blog/">blerg</a>


        <h1>My Astro Site</h1>
        <h1>My Astro Learning Blerg</h1>
          
        <p>This is where I will post about my journey learning Astrovan.</p>
      </body>
</Layout>
