---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await getCollection("blog");
---

<Layout pageTitle="Bloggy">
	<body>

        <h1>My Astro Site</h1>
        <h1>My Astro Learning Blerg</h1>
          
        <p>This is where I will post about my journey learning Astrovan.</p>
        <ul>
            {allPosts.map((post:any) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} /> )}
        </ul>
      </body>
</Layout>
