---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Bloggy">
	<body>

        <h1>My Astro Site</h1>
        <h1>My Astro Learning Blerg</h1>
          
        <p>This is where I will post about my journey learning Astrovan.</p>
        <ul>
            <li><a href="/posts/post-1/">Post The First</a></li>
            <li><a href="/posts/post-2/">Post The Second</a></li>
            <li><a href="/posts/post-3/">Post The Thoid</a></li>
        </ul>
      </body>
</Layout>
